# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*    @jina-ai/engineering

.github/workflows   @hanxiao
setup.py  @hanxiao
extra-requirements.txt  @hanxiao
jina/__init__.py  @hanxiao
requirements.txt  @hanxiao
MANIFEST.in  @hanxiao
README.md  @hanxiao
docs/      @hanxiao @alexcg1