# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

setup.py  @hanxiao @JoanFM @nan-wang
extra-requirements.txt  @hanxiao @JoanFM @nan-wang
requirements.txt  @hanxiao @JoanFM @nan-wang
jina/__init__.py  @hanxiao
MANIFEST.in  @hanxiao
README.md  @hanxiao
docs/conf.py  @hanxiao @nan-wang
