# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*    @jina-ai/engineering

# Han Xiao owns CICD and README.md
.github   @hanxiao
setup.py  @hanxiao
