# https://hanxiao.io/2019/11/07/A-Better-Practice-for-Managing-extras-require-Dependencies-in-Python/
# FORMAT
# Put your extra requirements here in the following format
#
# package[version]: tag1, tag2, ...
#
# AVAILABLE TAGS
#
# nlp, cv, audio, numeric, index, http, sse, framework, perf, network
#
# REMARKS ON TAGS
# 1. Try to reuse the existing tags if possible.
#    If you intend to create a new tag, keep it alphabetical, short and general
# 2. Package name itself is a tag already, so you don't need to tag it again.
#    For example, 'flair>=0.4.1: flair' is redundant
# 3. Tag order doesn't matter; case-sensitive; duplicated tag will be ignored
# 4. Tag `all` is reserved for representing all packages

scipy>=1.6.1:               index, numeric, cicd
fastapi:                    devel, cicd, http, test, daemon, chatbot, multimodal
uvicorn>=0.12.1:            devel, cicd, http, test, daemon, chatbot, multimodal
fluent-logger:              logging, http, sse, dashboard, devel, cicd, daemon
nmslib>=1.6.3:              index
docker:                     devel, cicd, network, hub, daemon
torch>=1.1.0:               framework, cicd, chatbot, multimodal
transformers>=2.6.0:        nlp, cicd, chatbot, multimodal
flair:                      nlp
paddlepaddle:               framework, py37
paddlehub:                  framework, py37
tensorflow>=2.0:            framework, cicd
tensorflow-hub:             framework, py37
torchvision>=0.3.0:         framework, cv, multimodal, cicd
onnx:                       framework, py37
onnxruntime:                framework, py37
Pillow:                     cv, cicd, multimodal
annoy>=1.9.5:               index
sklearn:                    numeric
plyvel:                     index
jieba:                      nlp
lz4<3.1.2:                  devel, cicd, perf, network
gevent:                     http, devel, cicd
python-magic:               http, devel, cicd
pymilvus:                   index
deepsegment:                nlp
ngt:                        index, py37
librosa>=0.7.2:             audio
uvloop:                     devel, cicd, perf
numpy:                      core
pyzmq>=17.1.0:              core
protobuf>=3.13.0:           core
grpcio>=1.33.1:             core
pyyaml>=5.3.1:              core
tornado>=5.1.0:             core
cookiecutter:               hub, devel, cicd
pytest:                     test
pytest-xdist==1.34.0:       test
pytest-timeout:             test
pytest-mock:                test
pytest-cov:                 test
pytest-repeat:              test
pytest-asyncio:             test
pytest-xprocess:            test
flaky:                      test
mock:                       test
requests:                   http, devel, cicd, daemon
prettytable:                devel, cicd
optuna:                     cicd, optimizer
websockets:                 http, devel, cicd, ws, daemon
wsproto:                    http, devel, cicd, ws, daemon, chatbot, multimodal
pydantic:                   http, devel, cicd, daemon, chatbot, multimodal
python-multipart:           http, devel, cicd, daemon
aiofiles:                   devel, cicd, http, daemon
pytest-custom_exit_code:    test
bs4:                        test
aiostream:                  devel, cicd
click:                      cicd
jsonschema:                 cicd
