attrs==19.3.0
certifi==2020.4.5.1
click==7.1.2
grpcio==1.28.1
importlib-metadata==1.6.0
jina==0.1.9
Lasagne==0.2.dev1
lz==0.10.2
lz4==3.0.2
memoir==0.0.3
more-itertools==8.2.0
mypy==0.770
mypy-extensions==0.4.3
numpy==1.18.4
opencv-python==4.1.0.25
packaging==20.3
paradigm==0.5.2
pluggy==0.13.1
protobuf==3.11.3
py==1.8.1
pyparsing==2.4.7
pytest==5.4.1
pyzmq==19.0.1
reprit==0.2.2
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
six==1.14.0
typed-ast==1.4.1
typing-extensions==3.7.4.2
wcwidth==0.1.9
zipp==3.1.0
