kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  namespace: postgres
  name: postgres-pv-claim
  labels:
    app: postgres
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi