jina-qa-bot[theme="follow"] {
    --jina-qabot-color-shadow: var(--sd-color-shadow);
    --jina-qabot-color-background: var(--color-background-primary);
    --jina-qabot-color-padding: var(--sd-color-card-header);
  
    --jina-qabot-color-primary: var(--sd-color-card-text);
    --jina-qabot-color-action: var(--color-brand-primary);
    --jina-qabot-color-action-contrast: var(--color-code-background);
    --jina-qabot-color-dimmed: var(--color-background-border);
    --jina-qabot-color-muted: var(--color-foreground-muted);
  }
  jina-qa-bot:not(:defined) {
    display: none;
  }