.sidebar-logo {
    max-width: 50%;
}


table.docutils {
    border: thin;
}

table.docutils td, table.docutils th {
    padding: 1rem 1rem;
}

.highlight {
    background: #f5f5f5;
}

h1, h2, h3 {
    margin-top: 3rem;
}

.highlight-console .highlight {
    background: #00232b !important;
    color: whitesmoke;
}

.highlight-text .highlight {
    background: #00232b !important;
    color: whitesmoke;
}

.highlight-json .highlight {
    background: #00232b !important;
    color: whitesmoke;
}

.highlight-shell .highlight {
    background: #00232b !important;
    color: whitesmoke;
}

.highlight-bash .highlight {
    background: #00232b !important;
    color: whitesmoke;
}

.tab-set > input:checked + label {
    border-color: var(--tabs--label-text--active);
}

.tab-set > input:checked + label:hover {
    border-color: var(--tabs--label-text--active);
}


table code {
    background: var(--color-inline-code-background);
    border: 1px solid var(--color-background-border);
    border-radius: .2em;
    font-size: var(--font-size--small--2);
    padding: .1em .2em;
}

.related-information {
    justify-content: space-between;
}

.social-btn {
    margin: 0 .3em;
}

.social-btn:hover {
    opacity: .5;
}

.social-btns {
    display: inline-block;
}

.announcement {
    background-color: var(--color-brand-primary);
    color: var(--color-background-primary) !important;
}

.announcement a {
    color: inherit;
    text-decoration: none;
}

.announcement a:hover {
    color: inherit;
    text-decoration: underline;
}

.sidebar-ecosys-logo {
    width: 1.2em;
    margin-right: .5em;
    vertical-align: middle
}


body[data-theme="dark"] .only-dark-line {
    display: inline-block !important;
}

body[data-theme="dark"] .only-light-line {
    display: none !important;
}

body[data-theme="light"] .only-light-line {
    display: inline-block !important;
}

body[data-theme="light"] .only-dark-line {
    display: none !important;
}

body[data-theme="auto"] .only-light-line {
    display: inline-block !important;
}

body[data-theme="auto"] .only-dark-line {
    display: none !important;
}

.color-gradient-card {
    background: #22c1c3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fdbb2d, #22c1c3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}