name: CD

on:
  push:
    branches:
      - master

#on:
#  push:
#    branches-ignore:
#      - '**'  # temporally ignore all


jobs:
  update-doc:
    if: |
      !startsWith(github.event.head_commit.message, 'chore') &&
      !startsWith(github.event.head_commit.message, 'build: hotfix') &&
      !endsWith(github.event.head_commit.message, 'reformatted by jina-dev-bot')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - run: |
          truncate --size=24KB README.md > README-trunc.md
      - uses: peter-evans/dockerhub-description@v2.3.0
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_DEVBOT_USER }}
          DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_DEVBOT_PWD }}
          DOCKERHUB_REPOSITORY: jinaai/jina
          readme-filepath: ./README-trunc.md
      - uses: actions/checkout@v2
        with:
          repository: jina-ai/api
          path: schema
          token: ${{ secrets.JINA_DEV_BOT }}
      - uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - run: |
          pip install .[daemon] --no-cache-dir
          jina check --summary-exec ./docs/chapters/all_exec.md --summary-driver ./docs/chapters/all_driver.md
          echo "JINA_VERSION=$(sed -n '/^__version__/p' ./jina/__init__.py | cut -d \' -f2)-devel" >> $GITHUB_ENV
          pip install css-html-js-minify
          css-html-js-minify ./jina/resources/hub-builder-success
          cp ./jina/resources/hub-builder-success/index.html ./schema/hub
          cp ./jina/resources/hub-builder-success/script.min.js ./schema/hub
          cp ./jina/resources/hub-builder-success/style.min.css ./schema/hub
          cd schema
          jina export-api --yaml-path "${{env.JINA_VERSION}}.yml" devel.yml --json-path "${{env.JINA_VERSION}}.json" devel.json devel
          mkdir -p jinad && cd jinad
          python -c "from daemon import _write_openapi_schema; _write_openapi_schema()"
          cd -
      - name: redoc-cli-jinad
        uses: seeebiii/redoc-cli-github-action@v10
        with:
          args: 'bundle schema/jinad/schema.json -o jinad.html'
      - name: push-to-api-repo
        run: |
          cp jinad.html schema/jinad/${{env.JINA_VERSION}}.html
          cd schema
          git config --local user.email "dev-bot@jina.ai"
          git config --local user.name "Jina Dev Bot"
          git add . && git commit -m "update ${{env.JINA_VERSION}} due to ${{github.event_name}} on ${{github.repository}}" && git push
      - uses: actions/checkout@v2
        with:
          repository: jina-ai/jina-docs
          path: docs/_build/html
          token: ${{ secrets.JINA_DEV_BOT }}
      - run: |
          ./scripts/make-doc.sh commit "update ${{env.JINA_VERSION}} due to ${{github.event_name}} on ${{github.repository}}"
      - uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.JINA_DEV_BOT }}
          repository: jina-ai/jina-docs
          directory: docs/_build/html
          force: true
          branch: master

  update-docker:
    needs: update-doc
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - tag_prefix: ""
            build_option: "--target jina_base"
          - tag_prefix: "daemon-"
            build_option: "--target jina_daemon"
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true  # this job build devel image, devel image includes hub submodule
      - name: Set envs and versions
        run: |
          echo "VCS_REF=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
          echo "BUILD_DATE=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_ENV
          echo "INSTALL_DEV=true" >> $GITHUB_ENV
          echo "JINA_VERSION=$(sed -n '/^__version__/p' ./jina/__init__.py | cut -d \' -f2)-devel" >> $GITHUB_ENV
      - name: Upload to Docker Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: jinaai/jina
          username: ${{ secrets.DOCKERHUB_DEVBOT_USER }}
          password: ${{ secrets.DOCKERHUB_DEVBOT_TOKEN }}
          dockerfile: Dockerfiles/debianx.Dockerfile
          buildargs: BUILD_DATE, VCS_REF, JINA_VERSION, INSTALL_DEV
          buildoptions: ${{ matrix.build_option }}
          tags: "${{ matrix.tag_prefix }}devel, ${{ matrix.tag_prefix }}${{env.JINA_VERSION}}"
      - name: Upload to Github Docker Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: jina-ai/jina/jina
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.pkg.github.com
          dockerfile: Dockerfiles/debianx.Dockerfile
          buildargs: BUILD_DATE, VCS_REF, JINA_VERSION, INSTALL_DEV
          buildoptions: ${{ matrix.build_option }}
          tags: "${{ matrix.tag_prefix }}devel, ${{ matrix.tag_prefix }}${{env.JINA_VERSION}}"

  docker-build:
    needs: update-docker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - run: |
          echo "PIP_TAG='[devel]'" >> $GITHUB_ENV
      - name: Upload to Github Docker Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: jina-ai/jina/jina
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.pkg.github.com
          dockerfile: Dockerfiles/pip.Dockerfile
          buildargs: PIP_TAG
          buildoptions: ${{ matrix.build_option }}
          tags: "test-pip"
      - id: set-matrix
        run: |
          sudo apt-get install jq
          echo "::set-output name=matrix::$(bash scripts/get-test-paths.sh)"
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

  core-test:
    needs: docker-build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7]
        test-path: ${{fromJson(needs.docker-build.outputs.matrix)}}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run test
        run: |
          docker login docker.pkg.github.com -u $GITHUB_ACTOR -p $GITHUB_TOKEN
          docker pull docker.pkg.github.com/jina-ai/jina/jina:test-pip
          docker tag docker.pkg.github.com/jina-ai/jina/jina:test-pip jinaai/jina:test-pip
          python -m pip install --upgrade pip
          pip install ".[cicd,test]" --no-cache-dir
          jina check
          export JINA_LOG_VERBOSITY="ERROR"
          pytest --suppress-no-test-exit-code --force-flaky --min-passes 1 --max-runs 5 --cov=jina --cov-report=xml -n 1 --timeout=120 -v --ignore-glob='tests/integration/hub_usage/dummyhub*' tests/${{ matrix.test-path }}
        timeout-minutes: 20
        env:
          JINAHUB_USERNAME: ${{ secrets.JINAHUB_USERNAME }}
          JINAHUB_PASSWORD: ${{ secrets.JINAHUB_PASSWORD }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Check file existence
        id: check_files
        uses: andstor/file-existence-action@v1
        with:
          files: "coverage.xml"
      - name: Upload coverage from test to Codecov
        uses: codecov/codecov-action@v1
        if: steps.check_files.outputs.files_exists == 'true' && ${{ matrix.python-version }} == '3.7'
        with:
          file: coverage.xml
          name: ${{ matrix.test-path }}-codecov
          flags: core, cd
          fail_ci_if_error: false

  daemon-test:
    needs: docker-build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7]
        test-path: ['unit', 'integration']

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          docker login docker.pkg.github.com -u $GITHUB_ACTOR -p $GITHUB_TOKEN
          docker pull docker.pkg.github.com/jina-ai/jina/jina:test-pip
          docker tag docker.pkg.github.com/jina-ai/jina/jina:test-pip jinaai/jina:test-pip
          python -m pip install --upgrade pip
          pip install ".[cicd,daemon,test]" --no-cache-dir
          docker build --build-arg PIP_TAG="[devel]" -f Dockerfiles/pip.Dockerfile -t jinaai/jina:test-pip .
          export JINA_LOG_VERBOSITY="ERROR"
          pytest --force-flaky --min-passes 1 --max-runs 5 --cov=jina --cov-report=xml -n 1 --timeout=120 -v tests/jinad/${{ matrix.test-path }}
        timeout-minutes: 20
        env:
          JINAHUB_USERNAME: ${{ secrets.JINAHUB_USERNAME }}
          JINAHUB_PASSWORD: ${{ secrets.JINAHUB_PASSWORD }}
      - name: Upload coverage from test to Codecov
        uses: codecov/codecov-action@v1
        if: ${{ matrix.python-version }} == 3.7
        with:
          file: coverage.xml
          name: jinad-${{ matrix.python-version }}-${{ matrix.test-path }}-codecov
          flags: ${{ matrix.test-path }}, jinad, ci
          fail_ci_if_error: false