name: CI for Code Un-related Changes

on:
  pull_request:
    paths:
      - 'docs/**'
      - 'README.md'

jobs:
  commit-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.5.0
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v4