name: PR

on:
  pull_request:
    types: [opened]
  pull_request_target:
    types: [opened]

jobs:
  ref-issue-to-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: estrada9166/issue-ref@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}